
/* STYLE PRINCIPAL */
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Roboto Mono', monospace;
}

h1, p {
    color: #000;
    text-align: center;
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    color: #000;
    font-size: 1em;
    margin-bottom: 10px;
    font-family: 'Roboto Mono', monospace;
}


/* INFOS COVID */
#infos-covid {
    display: none;
    position: relative;
}
#infos-covid__close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
.infos-covid__style {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin: 0;
    padding: 10px;
    background-color: #e94b1e;
    .infos-covid__style--align {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        margin: 10px 10px;
        p {
            text-transform: uppercase;
            font-size: 13px;
            color: #fff;
        }
    }
}


/* CONTAINER */
.container {
    display: flex;
}


/* NAVIGATION */
.nav {
    width: 300px;
    margin-top: 1.25em;
    margin-left: 1em;
    flex-shrink: 0;
    overflow: hidden;
}
.contenu {
    flex-grow: 1;
}

#haut-page{
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.haut-page{
    width: 16px;
    height: auto;
}

/* AFFICHAGE APPAREILS MOBILES */
@media only screen and (max-width: 720px){
    .container {
        display: block;
    }
    .nav {
        width: 95%;
        margin: 1em;
    }
}

/* HEADER */
.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px;
    background-color:#fff;
    .logo {
        width: 60px;
        height: auto;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 10px;
    }
}

/* NAVIGATION */
.navigation {
    #fav {
        background-color: #662481;
        &:hover{
            background-color: #0291d1;
        }
    }
    .toggleSubMenu {
        background-color: #662481;

    }

    li {
        background-color: #0f3657;
        cursor: pointer;
        list-style: none;
        color: #fff;
        font-weight: 700;
        a {
            display: flex;
            justify-content: space-between;
            padding: 8px;
            color: #fff;
            display: block;
            width: 100%;
            text-decoration: none;
            &:hover{
                background-color: #0291d1;
            }
        }
        ul {
            li {
                border-bottom: none;
                a {
                    padding-left: 30px;
                }
            }
        }
    }
}

/* ACCUEIL */
#accueil {
    margin: 1em;
    padding-top: 5px;
    
    h2 {
        text-align: left;
        text-transform: uppercase;
    }

    h3 {
        text-align: left;
        font-weight: bold;
    }
    p {
        text-align: left;
        padding-top:1em;
    }
}

/* LISTE DES LIGNES */
#liste-des-lignes {
    margin: 20px 2%;
}

.boxLigne {
    display: flex;
    flex-direction: column;
    margin: 10px 4px;
    padding-bottom: 0.5em;
    border: 1px solid #000;
}

.typeLigne {
    display: flex;
    font-size: 14px;
    background-color: #000;
    color: #fff;
    padding: 4px;
    p {
        margin: 0;
        color: white;
    }
}

.ligneName {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.ligneShortName {
    flex-shrink: 0;
    height: 22px;
    padding: 3px 6px;
    margin: 4px;
    border-radius: 3px;
    font-weight: 700;
}

.rond {
    width: 22px;
    padding: 3px;
    border-radius: 50%;
    text-align: center;
}

.ligneLongName {
    flex-shrink: 1;
    padding: 3px 6px;
}

.boxBoutons {
    display: flex;
    align-self: flex-end;
    padding-right: 0.5em;
    .boutonDetail, .addFavori, .deleteFavori {
        margin: 2px;
        padding: 4px 6px;
        background-color: #0291d1;
        font-family: 'Open Sans', sans-serif;
        color: #fff;
        text-align: center;
        cursor: pointer;
        &:hover {
            background-color: #0f3657;
        }
    }
}


/* DETAILS DE LA LIGNE SELECTIONNEE */
#ligne-details {
    display: none;
    margin: 20px 2%;
}

.ligne-details__titre {
    display: flex;
    align-items: center;
}

#ligne-details__icone {
    flex-shrink: 0;
    padding: 6px 8px;
    margin: 0px 10px 5px 0px;
    font-size: 20px;
    border-radius: 3px;
}

#ligne-details__icone.round {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.tableauHoraires {
    width: 100% ;
    margin-top: 20px;
    caption {
        text-align: left;
        font-weight: bold ;
        color: #000;
        padding: 6px 0;
    }
    tbody {
        tr:nth-child(odd) {
            background-color: #E5E5E5;
        }
    }

}


/* ALERTE PAS DE DONNEES/ FAVORI */
#pas-de-data, #pas-de-favori {
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    font-weight: bold ;
    color: #0f3657;
}


/* LEAFLET */

#myMap {
    height: 340px;
    width: 100%;
}